#root{
  width: 550px;
  height: 95vh;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 43%, 0.765);
  text-align: justify;
  padding-left: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(143, 165, 210);
  box-shadow: 0px 0px 20px hsla(0, 0%, 43%, 0.765);
  font-family: sans-serif;
}

.licences{
  width: 500px;
  font-style: italic;
  position: absolute;
  top: 90%;
  left: 50.3%;
  padding: 4px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 21%, 0.208);
  transform: translate(-50%, -50%);
}

/* body{
  margin: 0;

}

h3{
  margin-left: 5px;
}

.licences{
  margin-left: 5px;

} */

@media (max-width: 425px) {
  #root {
    width: 350px;
  }
  .licences {
    width: 300px;
  }
}